@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@font-face {
  font-family: 'League Spartan';
  src: url('./../assets/fonts/LeagueSpartan-Bold.otf');
}

$tablet: 768px;
$laptop: 1200px;
$highres: 2000px;
$accent: #38320f;
$accent-translucent: rgba(44, 40, 19, 0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Infant';
  color: $accent;

  font-size: 12px;
  @media (min-width: $tablet) {
    font-size: 18px;
  }
  @media (min-width: $laptop) {
    font-size: 20px;
  }
  @media (min-width: $highres) {
    font-size: 34px;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  overflow: hidden;

  span {
    font-style: italic;
    font-size: inherit;
    font-weight: 400;
  }
}

.container {
  background-image: linear-gradient(
    55deg,
    hsl(136deg 59% 85%) 0%,
    hsl(130deg 59% 85%) 18%,
    hsl(124deg 59% 85%) 26%,
    hsl(118deg 59% 85%) 33%,
    hsl(112deg 60% 84%) 39%,
    hsl(106deg 60% 84%) 44%,
    hsl(100deg 60% 84%) 50%,
    hsl(94deg 60% 84%) 56%,
    hsl(88deg 60% 84%) 61%,
    hsl(83deg 60% 84%) 67%,
    hsl(77deg 61% 84%) 74%,
    hsl(71deg 61% 84%) 82%,
    hsl(65deg 61% 84%) 100%
  );

  section {
    height: 100vh;
  }

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;

    .copy {
      display: grid;
      align-content: center;
      padding: 0 1rem;
      height: 100%;
      text-align: right;

      @media (min-width: $tablet) {
        padding: 0 2rem;
      }

      blockquote {
        position: relative;
        font-size: 3rem;
        font-weight: 300;

        @media (min-width: $tablet) {
          font-size: 3.5rem;
        }

        &::before {
          content: '“';
          font-size: 10rem;
          font-family: Georgia;
          position: absolute;
          left: -1.5rem;
          top: -2rem;
          color: $accent-translucent;
        }

        &::after {
          content: '”';
          font-size: 10rem;
          font-family: Georgia;
          position: absolute;
          color: $accent-translucent;
        }
      }

      cite {
        font-weight: 300;
        font-style: italic;
        font-size: 2rem;
        display: block;
      }

      #arrow {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $accent-translucent;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .section-0 {
    margin-top: 30vh;
    text-align: center;
    height: 14vh;

    p {
      font-size: 3.5rem;
      @media (min-width: $tablet) {
        font-size: 4.5rem;
      }
    }
  }

  .section-1 {
    display: grid;
    place-content: center;
    padding: 0 1rem;
    height: 80vh;
    margin-bottom: 35vh;

    @media (min-width: $tablet) {
      height: 100vh;
    }

    .image-mask {
      width: 100vw;
      height: 80vh;
      background: url('./../assets/images/trees-below.jpg');
      background-position-x: 50%;
      background-position-y: 90%;
      background-size: 100%;
      background-repeat: no-repeat;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .section-2 {
    height: 270vh;
    display: grid;
    grid-template-columns: 50% 50%;

    @media (min-width: $laptop) {
      grid-template-columns: 40% 60%;
    }

    #pin-section-1 {
      height: calc(100% - 2.3rem);
      margin-left: 1rem;

      @media (min-width: $laptop) {
        height: 100%;
        margin-left: 2rem;
      }

      #pin-section-2 {
        height: calc(100% - 105.5vh);
        margin-top: 105vh;
        margin-left: auto;
        @media (min-width: $laptop) {
          height: calc(100% - 102vh);
          margin-top: 95vh;
          margin-left: calc(2rem + 3.5rem);
        }

        blockquote {
          padding-top: 2.3rem;

          @media (min-width: $laptop) {
            padding-top: 0;
          }
        }
      }
    }

    blockquote {
      font-size: 1.8rem;
      width: max-content;
      @media (min-width: $laptop) {
        font-size: 2.5rem;
      }
    }

    .image-container {
      position: relative;
      height: 100%;

      #roots {
        position: absolute;
        top: 0;
        left: -4rem;
        max-width: 88%;
        height: 92vh;

        align-self: stretch;
        object-fit: cover;
        z-index: 2;

        @media (min-width: $laptop) {
          top: 0;
          left: -15rem;
          max-width: 40vw;
          height: 30%;
        }
      }

      #sprout {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 130vh;
        align-self: stretch;
        object-fit: cover;

        @media (min-width: $laptop) {
          max-width: 100%;
          height: 200vh;
          align-self: stretch;
          object-fit: cover;
        }
      }
    }
  }

  .section-3 {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (min-width: $laptop) {
      grid-template-columns: 40% 60%;
    }

    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .copy {
      width: 100%;
      display: grid;
      align-content: center;

      blockquote {
        .app-title {
          position: relative;
          font-size: 2rem;
          font-family: 'League Spartan';
          letter-spacing: -0.1rem;

          &::after {
            position: absolute;
            content: url(./../assets/images/maple-seed.png);
            top: -2.5rem;
            @media (min-width: $highres) {
              top: -1rem;
            }
          }
        }
        font-size: 3.5rem;
        margin: 0 2rem;
      }
    }

    .description {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      max-width: 42vw;

      @media (min-width: $laptop) {
        bottom: 3rem;
        right: 3rem;
      }
    }
  }
}
